/* font-family: 'Lato', sans-serif; */
/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Sniglet', cursive; */

body{
font-family: 'Dosis', sans-serif;
}
/* header start */
header{
	background-color: #ffd338;
}
.nav_tc{
	 color: rgb(241 92 92)  !important;
    border-color: rgb(241 92 92) !important;
}
.nav_tc:focus{
	 color: rgb(241 92 92) ;
    border-color: rgb(241 92 92);
}
.menu ul li a{
	font-weight: 700;
	font-size: 18px;
	color: #ffffff !important;
	padding: 2px 20px !important;
	border-radius: 15px;
}
.menu ul li a:hover{
	background-color: #f05c5c;
	border-radius: 15px;
}
.dd_user a{
	color: #ffffff;
}
.dd_user a:hover{
	color: #f05c5c;
}
.dd_user a:focus{
	    box-shadow: 0 0 0 0.25rem rgb(241 92 92) ;

}
.dd_user_ul{
	    top: 163%;
    left: -49px;
	background-color: #ffd338 ;
}



.dd_search a{
	color: #ffffff ;
}
.dd_search a:hover{
	color: #f05c5c ;
}
.dd_search a:focus{
	    box-shadow: 0 0 0 0.25rem rgb(241 92 92) ;

}
.dd_search_ul{
	background-color: #ffd338;
	    top: 163%;
    left: -209px;
    min-width: 320px;
}
.cus_search{
	margin-top: ;
}
/* header end */